{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_title %}
    Listado de usuario de una franquicia
{% endblock %}

{% block content %}
    {% if user.groups.all.0.name == "docente" %}
    	docente
    {% elif user.groups.all.0.name == "estudiante" %}
    	{% for course in user.course_set.all %}
    		<div class="row">
    			<div class="col-12 text-center">
    				<h3>Partidas disponibles para el curso {{course.name}}</h3>
    			</div>
    		</div>
    		<div class="row">
	    		{% for game in course.game_set.all %}
	    			<div class="col-lg-4 col-md-4 col-sm-6">
	    				<div class="card">
	    					<div class="card-body">
	    						<h5 class="card-title">{{game.name}}</h5>
	    						<p class="card-text">{{game.description}}</p>
	    						<a href="{% url 'games:play_game' game.id %}" class="btn btn-primary">Ver Partida</a>
	    					</div>
	    				</div>
	    			</div>
	    		{% endfor %}
    		</div>
    	{% endfor %}
    {% endif %}
{% endblock %}