{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_title %}
Partida {{game.name}}
{% endblock %}

{% block content %}
{% if messages %}
{% endif %}
<div class="container">
    <div>
        <h3>Curso: {{game.course}}</h3>
        <h4>Partida: {{game.name}}</h4>
    </div>
    <br>

    {% for question in game.questions.all %}
    <div class="row" style="margin: 4rem;">
        <div class="col-6">

            <h3>{{question.name}}</h3>
            <br>
            <h4>{{question.question}}</h4>
            <ol type="a">
                {% for answer in question.answers.all%}
                <li>
                    <input type="checkbox" />{{answer.option}}
                </li>
                {% endfor %}
            </ol>
            <h5>Respuesta seleccionada: </h5>
            <button id="{{question.id}}" onclick="cambiarBtn(this.id);" class="btn btn-block btn-success">
                Guardar
            </button>
            </p>
        </div>

        <div class="col-6">
            <iframe width="100%" height="100%" src="{{question.video}}">
            </iframe>
        </div>
    </div>
    {% endfor %}
    <script type="text/javascript">
        var valor = true
        function cambiarBtn(idbtn) {
            var btn = document.getElementById(idbtn);
            if(btn.className === "btn btn-block btn-success"){
            valor ? btn.innerText = "Cancelar" : btn.innerText = "Guardar";
            btn.className = "btn btn-block btn-danger"
            valor != valor
            }else{
                btn.className = "btn btn-block btn-success"
                valor ? btn.innerText = "Guardar" : btn.innerText = "Cancelar";
                valor != valor
            }
        }
    </script>
</div>
{% endblock %}