{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_title %}
Partida {{game.name}}
{% endblock %}

{% block content %}
{% if messages %}
{% endif %}
<div class="container">
    <div>
        <h3>Curso: {{game.course}}</h3>
        <h4>Partida: {{game.name}}</h4>
    </div>
    <br>

    
    {% for question in game.topic.questions.all %}
    
    <div class="row" style="margin: 4rem;">
        <div class="col-6">

            <h3>{{question.name}}</h3>
            <br>
            <h4>{{question.statement}}</h4>
            <ol type="a">
                {% comment %} {% for answer in question.answers.all%}
                <li>
                    <input type="checkbox" />{{answer.option}}
                </li>
                {% endfor %} {% endcomment %}
                {% if question.answer_1 %}
                    <li> 
                        <input type="checkbox" /> {{question.answer_1}}
                    </li>
                {% endif %}
                {% if question.answer_2 %}
                    <li> 
                        <input type="checkbox" /> {{question.answer_2}}
                    </li>
                {% endif %}
                {% if question.answer_3 %}
                    <li> 
                        <input type="checkbox" /> {{question.answer_3}}
                    </li>
                {% endif %}
                {% if question.answer_4 %}
                    <li> 
                        <input type="checkbox" /> {{question.answer_4}}
                    </li>
                {% endif %}
            </ol>
            <h5>Respuesta seleccionada: </h5>
            <button id="{{question.id}}" onclick="cambiarBtn(this.id); play_next(this.id) " class="btn btn-block btn-success">
                Guardar
            </button>
            </p>
        </div>

        <div class="col-6">
            <iframe width="100%" height="100%" src="{{question.video}}">
            </iframe>
        </div>
    </div>
    {% endfor %}

    <button id ="test" class="btn btn-block btn-success"> Tema 1</button>
    <script type="text/javascript">
        var valor = true
        function cambiarBtn(idbtn) {
            var btn = document.getElementById(idbtn);
            if(btn.className === "btn btn-block btn-success"){
            valor ? btn.innerText = "Cancelar" : btn.innerText = "Guardar";
            btn.className = "btn btn-block btn-danger"
            valor != valor
            }else{
                btn.className = "btn btn-block btn-success"
                valor ? btn.innerText = "Guardar" : btn.innerText = "Cancelar";
                valor != valor
            }
        }

        
        function playSound(text){
            var msg = new SpeechSynthesisUtterance(text);
            msg.lang = 'es-CO';
            window.speechSynthesis.speak(msg); 


        }
        function play_all() {
            
            var msg = new SpeechSynthesisUtterance('escuche las preguntas');
            msg.lang = 'es-CO';
            window.speechSynthesis.speak(msg)
            var questions = {{game.questions}}
            for (element in questions) {
                
                msg = window.speechSynthesis.speak(element.name)
                window.speechSynthesis.speak(msg)
                msg= window.speechSynthesis.speak(element.statement)
                window = window.speechSysnthesis.speak(msg)
            }

        }


        
        function play_first_question(){
           
            

            var q = "{{game.questions.all.0.statement}}";
            var msg = new SpeechSynthesisUtterance(q); 
            msg.lang= 'es-CO'; 
            window.speechSynthesis.speak(msg);
            var op1 = "Opción 1: {{game.questions.all.0.answer_1}}";
            var msg1 = new SpeechSynthesisUtterance(op1);
            msg1.lang= 'es-CO';
            window.speechSynthesis.speak(msg1);
            var op2 = "Opcion 2: {{game.questions.all.0.answer_2}}";
            var msg2= new SpeechSynthesisUtterance(op2); 
            msg2.lang= 'es-CO';
            window.speechSynthesis.speak(msg2);
            var op3 = "Opción 3: {{game.questions.all.0.answer_3}}";
            var msg3= new SpeechSynthesisUtterance(op3);
            msg3.lang= 'es-CO';
            window.speechSynthesis.speak(msg3);
            var opciones = new SpeechSynthesisUtterance(op1 + op2 + op3);
            
        }

        {% comment %} function play_next(idq){
            questions = {{game.questions.all}}
            for (q in questions){
                if ( q.id == idq){
                    console.log('FOUNDED');
                }
                else{
                    
                }
            }
        } {% endcomment %}




       play_first_question()
        

    </script>
</div>
{% endblock %}