{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_title %}
    Partida {{game.name}}
{% endblock %}

{% block content %}
{% if messages %}  
{% endif %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h4>Esta el la partida: {{game.name}}</h4>
                <p>
                    Descripción de la partida:<br>
                    {{game.description}}
                </p>
                <a href="{% url 'games:game_start' game.id %}" class="btn btn-warning">Ver Partida</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}